template(name="ranking")
    #ranking
        h2 Ranking
        table
            tr
                th Player
                th.score Score
            each topScores
                tr(class=rowClass)
                    td.username
                        = username
                        if rank
                            | (##{rank})
                    td.score= formatScore

        table
            tr
                th Player
                th.score Longest streak
            each topStreaks
                tr(class=rowClass)
                    td.username
                        = username
                        if rank
                            | (##{rank})
                    td.score= longestStreak
