template(name="stats")
    section#stats
        p Your score: #{pointsTotal} points
            unless showRanking
                a.pseudo-link#show-ranking (ranking)
        if showRanking
            +ranking
        p Last five world throws:
            each recentRounds
                span.round-results= majorityGlyph
        with streak
            p
                | Winning streak:&nbsp;
                = rounds
                if showStreakButtons
                    | (#{points} points)
                    button#redeem-streak Redeem
                    button#risk-streak Risk
        p Batting average: #{average}
        with currentRound
            h2 Current round
            p round #{_id}
            if overdue
                p waiting for enough plays
            else
                p ending in #{remainingTime}
