template(name="stats")
    section#stats
        p Your score: #{pointsTotal} points
        p Last five world throws:
            each recentRounds
                span.round-results= majorityGlyph
        with streak
            p
                | Winning streak:&nbsp;
                = rounds
                if showStreakButtons
                    | (#{points} points)
                    button#redeem-streak Redeem
                    button#risk-streak Risk
        with currentRound
            h2 Current round
            p round #{_id}
            if overdue
                p waiting for enough plays
            else
                p ending in #{remainingTime}
